:root {
  --primary-color: #fbffff;
  --text-color: #170d08;
  --link-color: #e3c4b4;
}
section #firstFormula {
  display: none;
}
section #secondFormula {
  display: none;
}
section #thirdFormula {
  display: none;
}
section .formula {
  margin: 3rem;
}
section label {
  font-size: 1.2rem;
}
section .output {
  color: var(--link-color);
}
