:root {
  --primary-color: #3aafa9;
  --text-color: #feffff;
  --link-color: #17252a;
}
section a {
  text-decoration: none;
  /* background-color: var(--text-color); */
  display: block;
  margin-top: 0.4rem;
}
section span {
  /* text-decoration: none; */
  background-color: var(--text-color);
  display: block;
  height: 2rem;
  width: 5rem;
  text-align: center;
  border-radius: 1rem;
}
section input[type='number'] {
  height: 2.5rem;
  width: 6rem;
}
section button {
  margin: 1rem;
  height: 2.5rem;
  width: 5rem;
  font-weight: bold;
  font-size: 1rem;
}
section .output {
  font-size: 1.2rem;
  font-weight: bold;
}
